@import "@styles/_variables.scss";

.btn {
    align-items: center;
    background-color: $bg-white;
    border: 0.06rem solid $color-primary-light;
    border-radius: 0.31rem;
    color: $color-secondary;
    display: flex;
    justify-content: center;
    font-size: 1rem;
    font-weight: 500;
    gap: 0.5rem;
    line-height: 1.17rem;
    padding: 0.56rem 1.25rem;
    text-align: center;
    text-transform: capitalize;
    cursor: pointer;

    &:hover {
        background-color: $color-secondary-lightest;
    }

    &:disabled {
        opacity: 50%;
        pointer-events: none;
        cursor: not-allowed;
    }

    &--active {
        font-weight: 900;
        color: $color-primary;
    }

    &--primary {
        background-color: $color-primary;
        color: $bg-white;

        &:hover {
            background-color: $color-primary-darker;
        }
    }

    &--secondary {
        background-color: $color-secondary;
        color: $bg-white;

        &:hover {
            background-color: $color-secondary-darker;
        }
    }
}
