@import "@styles/_variables.scss";

.btn {
    align-items: center;
    background-color: $bg-white;
    border: 0.06rem solid $bg-gray-400;
    border-radius: 0.5rem;
    color: $bg-slate-700;
    display: flex;
    font-size: 0.875rem;
    font-weight: bold;
    gap: 0.5rem;
    line-height: 1.25rem;
    padding: 0.625rem 1.25rem 0.625rem 1.25rem;
    text-align: center;
}
