@use "@styles/_base.scss";

.btn {
    align-items: center;
    background-color: base.$bg-white;
    border: 0.06rem solid base.$color-primary-light;
    border-radius: 0.31rem;
    color: base.$color-secondary;
    display: flex;
    justify-content: center;
    font-size: 1rem;
    font-weight: bold;
    gap: 0.5rem;
    line-height: 1.17rem;
    padding: 0.56rem 0.75rem;
    text-align: center;
    text-transform: capitalize;
}
