@use "@styles/_base.scss";

.btn {
    align-items: center;
    background-color: base.$bg-white;
    border: 1px solid base.$bg-gray-400;
    border-radius: 0.5rem;
    color: base.$bg-slate-700;
    display: inline-flex;
    font-size: 0.875rem;
    font-weight: bold;
    gap: 0.5rem;
    line-height: 1.25rem;
    padding: 0.625rem 1.25rem 0.625rem 1.25rem;
    text-align: center;
}
