@use "@styles/_variables.scss";

.task-card {
    background-color: variables.$bg-white;
    padding: 1rem;
    border-radius: 0.5rem;
    border: 0.06rem solid variables.$bg-gray-400;
    min-height: 10rem;

    &__title {
        font-size: 1.2rem;
        font-weight: bold;
        line-height: 2rem;
    }

    &__input {
        width: 100%;
        height: 7rem;
        margin-bottom: 1rem;
        text-align: start;
        border-radius: 1rem;
        padding: 0.5rem;
        background-color: variables.$bg-gray-50;
    }
}
