@import "@styles/_variables.scss";

.task-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem;
    background-color: $bg-white;
    border: 0.06rem solid $color-primary-light;
    border-radius: 0.31rem;
    gap: 1.5rem;

    &__header {
        height: 100%;
    }

    &__title {
        font-size: 1.5rem;
        font-weight: 700;
        line-height: 1.75rem;
        color: $color-secondary;
        margin-bottom: 0.563rem;

        &--complete {
            text-decoration: line-through;
            color: $color-success;
        }
    }

    &__created-date {
        font-size: 0.875rem;
        font-weight: 700;
        line-height: 1rem;
        color: $color-secondary-light;
    }

    &__body {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        gap: 1.5rem;
    }

    &__actions-wrapper {
        display: flex;
        gap: 1.62rem;
        align-items: center;
        flex-wrap: wrap;
    }

    &__input {
        width: 100%;
        min-height: 5rem;
        height: 100%;
        padding: 0.31rem 0.563rem;
        border: 0.03rem solid $color-primary-light;
        border-radius: 0.31rem;
        color: $color-secondary;
        font-size: 1rem;
        font-weight: 500;
        text-align: start;
        resize: none;
    }

    &__input:focus {
        outline-width: 0.18rem;
        outline-color: $color-primary-light;
    }

    &__completed-in {
        background-color: $color-primary;
        border-radius: 0.31rem;
        padding: 0.31rem 0.75rem;
        color: $bg-white;
        font-weight: 700;
        font-size: 0.75rem;
        line-height: 0.875rem;
    }

    &--disabled {
        opacity: 50%;
        pointer-events: none;
        cursor: not-allowed;
    }
}

@media (max-width: $screen-mobile) {
    .task-card {
        &__body {
            gap: 0.8rem;
        }
    }
}
