.task-board {
    margin-top: 3rem;
    padding-left: 3rem;
    padding-right: 3rem;

    &__heading {
        font-size: 1.5rem;
        font-weight: bold;
        line-height: 2rem;
        margin-bottom: 2rem;
        margin-top: 2rem;
    }

    &__paginate-wrapper {
        margin-top: 3rem;
        margin-bottom: 3rem;
        padding: 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
