.task-board-action {
    align-items: center;
    display: flex;
    justify-content: space-between;
    gap: 0.75rem;
    margin-top: 2rem;

    &__filter {
        display: flex;
        gap: 0.5rem;
    }
}
