@use "@styles/_base.scss";

input {
    background-color: base.$bg-gray-50;
    border: 1px solid base.$bg-gray-300;
    border-radius: 0.5rem;
    display: block;
    font-size: 0.875rem;
    line-height: 1.25rem;
    padding: 0.5rem;
    width: 100%;
}
