@use "@styles/_base.scss";

.input-text {
    background-color: base.$bg-gray-50;
    border: 0.06rem solid base.$bg-gray-300;
    border-radius: 0.5rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
    padding: 0.5rem;
}
