@import "@styles/_variables.scss";

.nav {
    background-color: $bg-white;
    border-bottom: 0.06rem solid $color-primary-light;

    &__container {
        align-items: center;
        display: flex;
        justify-content: space-between;
        margin-left: auto;
        margin-right: auto;
        padding: 1rem 3rem;
    }

    &__title {
        color: $color-primary;
        font-size: 1.5rem;
        font-weight: bold;
        line-height: 2rem;
    }
}
